*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	font-family: sans-serif;
	font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar {
	display: none;
}
a{
	text-decoration: none;
}
header {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
	position: relative;
}
header .brand {
	color: #262626;
	font-size: 1.5em;
}
header ul {
	display: flex;
	list-style: none;
}
header ul li a{
	display: inline-block;
	margin: 16px;
	color: rgba(0, 0, 0, .7);
	transition: all .3s ease;
}
header ul li a.active{
	color: #007bff;
	/* border-bottom: 1px solid #007bff; */
}
header ul li a:hover{
	color: #007bff;
}
header ul li:nth-child(4) a{
	margin-right: 0;
}
main {
	width: 100%;
	margin: 0 auto;
	height: calc(100vh - 57px);
	overflow-y: scroll;
	text-align: justify;
	background-color: #fff;
	color: rgba(0, 0, 0, .5);
}
main::-webkit-scrollbar {
	width: 12px;
}
main::-webkit-scrollbar-track {
	background-color: transparent;
}
main::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: rgba(0, 0, 0, .1);
}
main::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, .3);
}
h2 {
	padding-top: 16px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 2em;
	transition: .5s;
	transition-delay: .3s;
}
h2:target {
	color: #007bff;
}
h2:target + section {
	color: #007bff;
	color: #222;
}
section {
	width: 80%;
	margin: 0 auto;
}
footer {
	margin-top: 50px;
	background-color: #fff;
	color: #262626;
	text-align: center;
	padding: 50px 0;
}